<div>
  <h2> Sign Up </h2>
  <form
    action="/auth/signup"
    method="POST"
    class="row gy-3 gx-2 align-items-end"
  >
    <div class="col-auto">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        name="username"
        placeholder="username92"
      />
    </div>

    <div class="col-auto">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        name="email"
        placeholder="username92@gmail.com"
      />
    </div>

    <div class="col-auto">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        placeholder="helloworld"
      />
    </div>

    <div class="col-1 align-bottom">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>

  </form>

</div>