<h2>New Contact</h2>

<form action="/contact/create" method="POST">
  <label for="name">Name:
    <input type="text" name="name" id="name" />
  </label>
  <br />
  <label for="category">Category:</label>
   <input type="text" name="category" id="category" />
   <button type="submit"> Create</button>
</form>