

<h2>Groups</h2>





<ol class="list-group list-group-numbered">
    {{#each contacts}}
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">{{this.name}}</div>
{{#each this.specialOccasion }}
{{this.name}}
{{/each}}
    </div>
    <span class="badge bg-primary rounded-pill">{{this.specialOccasion.length}}</span>
  </li>
  
  {{/each}}
</ol>



<a href="/contact/create" class="btn btn-primary">Add Contact</a>