
<div class="home" id="home">
<div class="jumbotron ml-5">
  <h1 class="display-4"></h1>
  <p class="lead"></p>
   <form
    action="/auth/login"
    method="POST"
    class="row gy-3 gx-2 align-items-end"
  >
    <div class="col-auto">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        name="username"
        placeholder="username92"
      />
    </div>

    <div class="col-auto">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        placeholder="helloworld"
      />
    </div>
    <div class="col-1 align-bottom">
      <button type="submit" class="btn btn-primary">Log In</button>
    </div>
    <div class="col-1 align-bottom">
      <a class="btn btn-primary" href="/auth/signup" role="button">Sign Up</a>
    </div>

    {{#if errorMessage}}
      <p style="color: red">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
</div>