body {
background-image: url(../images/leone-venter-mTkXSSScrzw-unsplash.jpg);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

#user{
  width: 20px
}