<div id="create-event">
<h2>Create Event</h2>

<div id="createSO">
  <br>
  <br>
  <div class="container">
    <form action="/specialOccasion/create" method="POST">
      <div class="row">
        <div class="col">
          <div>
            <label for="name" class="form-label">Event:</label>
            <input type="text" class="form-control" name="name" placeholder="Birthday" />
          </div>
          <br>
          <div>
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" />
          </div>
          <br>
          <div>
            <label for="text" class="form-label">Notes:</label>
            <input type="text" class="form-control" name="notes" placeholder="Remember to..." />
          </div>
          <br>
          <div class="d-flex flex-row">
            <div class="col mx-1">
              <button type="submit" class="btn btn-primary" name="save" value="Save">Save</button>
            </div>
          </div>

        </div>
        <div class="col">
          <p> <b>GiftList:</b> </p>
          <input type="text" class="form-control" name="giftList" placeholder="wallet">
          <br>
          <input type="text" class="form-control" name="giftList" placeholder="chocolates">
          <br>
          <input type="text" class="form-control" name="giftList" placeholder="Coffe mugs">
          <br>
          <input type="text" class="form-control" name="giftList" placeholder="shoes">
          <br>
          <input type="text" class="form-control" name="giftList" placeholder="blue purse">
          <br>
          <br>
        </div>
      </div>
      <input type="hidden" name="contactId" value="{{contactId}}" />
    </form>

  </div>
</div>
</div>