<form action="/specialOccasion" method="POST">
    <h2>Date:</h2>
    <input type="number" name="date" placeholder="date">
    <h2>Notes:</h2>
    <input type="text" name="notes" placeholder="notes"/>

<h2>Giftlist</h2>
<ul>
<li>1.<input type="text" name="giftList" placeholder="giftList"/> </li>
<li>2.<input type="text" name="giftList" placeholder="giftList"/> </li>
<li>3.<input type="text" name="giftList" placeholder="giftList"/> </li>
<li>4.<input type="text" name="giftList" placeholder="giftList"/> </li>
<li>5.<input type="text" name="giftList" placeholder="giftList"/> </li>


</ul>
<button type="submit"> Submit</button>
</form>

